/* Layout */
.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.wrapper {
    display: block; /* IE fix */
    flex: 1 1 auto; /* occupe la hauteur restante */
    display: flex; /* cree un contexte flex pour ses enfants */
    flex-direction: row; /* affichage horizontal */
    height: 0px;
}

.nav {
    width: 15em;
    overflow: auto;
}

.content {
    display: block; /* IE fix */
    flex: 1; /* occupe la largeur restante */
}

/* Decoration */

.header, .nav, .section {
	padding: 10px;
	margin: 0;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
}

.nav {
    padding: 0px;
}

.header {
	/* background: dodgerblue; */
    /* text-align: center; */
    background-color: rgb(240, 240, 240);
}

.nav {
    background: rgb(230, 230, 230)
    /* background: orange; */
}
.nav a {
    display: block;
    padding: .5em 1em;
    /* color: #fff; */
    text-decoration: none;
    border-bottom: 1px solid rgba(150,150,150,.3);
}
.nav a:hover {
    background-color: rgb(240, 240, 240);
}
.section {
    background: rgb(200, 200, 200);
    color: black;
}

/* .footer { */
/*     background: rgb(200, 200, 200); */
/*     text-align: center; */
/*     color: black; */
/* } */
